<launch>

<arg name="fixed_tf"  default="map"/>
<arg name="camera_name" default="laptop_camera"/>

<node pkg="cv_camera" type="cv_camera_node" name="$(arg camera_name)" output="screen">
	<param name="device_id" value="0"/>
	<param name="frame_id" value="$(arg camera_name)"/>
	<param name="camera_info_url" value="file://$(dirname)/../camera_info/$(arg camera_name).yaml"/>
</node>

<node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" 
      args="0 0 0.3 -1.5708 0 -1.5708 $(arg fixed_tf) $(arg camera_name) 100" />

<node pkg="image_proc" type="image_proc" name="image_proc" ns="$(arg camera_name)" />

<node pkg="multiple_aruco_tf" type="multiple_aruco_tf" name="multiple_aruco_tf">
	<remap from="/camera_info" to="/$(arg camera_name)/camera_info" />
	<remap from="/image" to="/$(arg camera_name)/image_rect_color" />
    <param name="marker_size" value="0.062"/>
	<param name="parent_name" value="$(arg camera_name)"/>  
	<param name="dictionary_type" value="ARUCO_MIP_36h12"/>  
</node>

<node pkg="image_view" type="image_view" name="image_aruco_result">
	<remap from="image" to="/multiple_aruco_tf/result"/> 
</node>

<node pkg="rviz" type="rviz" name="rviz" 
      args="-f $(arg fixed_tf) -d $(dirname)/../rviz/config.rviz"/>
      
<node pkg="multiple_aruco_tf" type="relative_pose" name="relative_pose_node" output="screen">
	<param name="tf_begin" value="marker_0"/>
	<param name="tf_end" value="marker_1"/>
</node>

<node pkg="rostopic" type="rostopic" name="echo_relative_pose" args="echo /relative_pose_node/relative_pose"  output="screen" />

</launch>

<!-- 

Dictionary Types
	ARUCO, ARUCO_MIP_16h3, ARUCO_MIP_16h3, ARUCO_MIP_25h7, ARUCO_MIP_36h12
    ARTOOLKITPLUS, RTOOLKITPLUSBCH
    ARTAG
    TAG16h5, TAG25h7, TAG25h9, TAG36h11, TAG36h10
    CHILITAGS
    ALL_DICTS
    
    https://damianofalcioni.github.io/js-aruco2/samples/marker-creator/marker-creator.html
!-->
