<launch>

<arg name="fixed_tf"  default="map"/>

<node name="image_aruco_result" pkg="image_view" type="image_view" output="screen">
	<remap from="image" to="/multiple_aruco_tf/result"/> 
</node>

<node name="rviz" pkg="rviz" type="rviz"  
      args="-f $(arg fixed_tf) -d $(dirname)/../rviz/config.rviz"/>

<node name="echo_relative_pose" pkg="rostopic" type="rostopic" args="echo /relative_pose_node/relative_pose"  output="screen" />

</launch>
