from launch import LaunchDescription
from launch_ros.actions import Node

def generate_launch_description():
    return LaunchDescription([
        Node(
            package='cv_camera',
            executable='cv_camera_node',
            name='laptop_cv_camera',
            parameters=[
                {"device_path": "/dev/video2"},
                {"device_id": 2},
                {"frame_id": "camera_laptop"},
                {"image_width": 1920},
                {"image_height": 1080},
                {"rate": 30.0},
                {"pixel_format": "MJPG"},
                {"camera_info_url": "file:///home/luis/camara_full_hd_calibration/calibrationdata/camara_full_hd.yaml"}
			],
            remappings=[
                ('image_raw','/laptop/image_raw'),
                ('image_raw/compressed', '/laptop/image_raw/compressed'),
                ('camera_info', '/laptop/camera_info')
            ]
        ),
        Node(
            package='image_proc',
            executable='rectify_node',
            name='laptop_rectify_node',
            parameters=[
                {'image_transport': 'compressed'}
            ],
            remappings=[
                ('image','/laptop/image_raw'),
                ('image_rect', '/laptop/image_rect'),
                ('image_rect/compressed', '/laptop/image_rect/compressed')
            ]
        ),
        Node(
            package='multiple_aruco_ros2',
            executable='multiple_aruco_tf_ros2',
            name ='nodo_aruco_pared',
            parameters=[
                {"parent_name": "camera_laptop"},
                {"dictionary_type": "/home/luis/test_ws/src/multiple_aruco_ros2/src/aruco7x7.dict"},
                {"recognized_ids": [1]},  # ID's específicos que se quieren reconocer
                {"recognized_sizes": [0.55]}  # Tamaños para cada ID
            ],
            remappings=[
                ('image_rect', '/laptop/image_rect'),
                ('camera_info', '/laptop/camera_info')
            ]
        ),
        Node(
            package='multiple_aruco_ros2',
            executable='multiple_aruco_tf_ros2',
            name ='nodo_aruco_lancha',
            parameters=[
                {"parent_name": "camera_laptop"},
                {"dictionary_type": "ARUCO_MIP_36h12"},
                {"recognized_ids": [8]},  # ID's específicos que se quieren reconocer
                {"recognized_sizes": [0.245]}  # Tamaños para cada ID
            ],
            remappings=[
                ('result', '/mip36h12/result'),
                ('result/compressed', '/mip36h12/result/compressed'),
                ('image_rect', '/laptop/image_rect'),
                ('camera_info', '/laptop/camera_info'),
            ]
        ),
        Node(
             package='rqt_image_view',
             executable='rqt_image_view'
        )
    ])
